<h1 id="search">What type of car are you looking for?</h1>

<%= form_for search_path, method: :get, html: { class: "form-inline", id: "search" } do |f| %>
	<div class="form-group">
		<%= f.label "I want a" %>
		<%= f.select(:bodytype, @bodytypes, {}, { class: "form-control" }) %>
	</div>

	<div class="form-group">
		<%= f.label "between" %>
		<%= f.text_field :minyear, class: "form-control", placeholder: "year (i.e. 2010)" %>
	</div>

	<div class="form-group">
		<%= f.label "and" %>
		<%= f.text_field :maxyear, class: "form-control", placeholder: "year (i.e. 2015)" %>
	</div>

	<div class="form-group">
		<%= f.label "less than" %>
		<%= f.text_field :maxprice, class: "form-control", placeholder: "price (i.e. 30,000)" %>
	</div>

	<%= submit_tag "search", name: nil, class: "btn btn-primary", id: "search_button", data: { disable_with: 'Searching...'} %> 
<% end %>

<% @results.each do |result| %>
	<div class="vehicle">
		<div class="img">
			<%= image_tag "#{result[:photo]}", class: "hero" %>
		</div>
		<div class="desc">
			<%= "#{result[:modelyear]['year']} #{result[:make]["name"]} #{result[:modelyear]['name']} #{result[:style]['name']}" %>
		</div>
		<div class="price">
			<strong><%= result[:price] %></strong>
		</div>
		<div class="rating">
			<%= "Rating: #{result[:rating]}" %><br/>
			<%= "Review Count: #{result[:reviews_count]}" %>
		</div>
		<br />
	</div>
<% end %>


